{% extends "base.html" %}

{% set title = "Home" -%}

{% block body %}
  {% if entries %}
    <form action="{{ uri('/update/done')}}" method="POST">
      <ul>
        {% for entry in entries %}
          <li>
            <button type="submit" name="id" value={{ entry.id }}>&#10004;</button>
            {{ entry.title }}
          </li>
        {% endfor %}
      </ul>
    </form>
  {% else %}
    <o><i>Nothing to do...</i></p>
  {% endif %}
  <a href="{{ uri('/add/{0}'.format(name)) }}">Add</a>
{% endblock %}
